.filter__wrapper {
  position: fixed;
  /*float: right;*/
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  z-index: 2;
  background: #891b55;
  /*border-bottom: 1px solid rgba(160, 160, 160, 0.2);*/
  /*background: linear-gradient(to top, #fff, #efefef, #fff);*/
}
.logo {
  float: left;
  background: url(../img/ewing.jpg) center center no-repeat;
  width: 60px;
  height: 40px;
  background-size: contain;
}
.load-image{
  float: left;
  background: url(../img/load.png) center center no-repeat;
  width: 100px;
  height: 100px;
  background-size: contain;
}
.filter {
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
}
.filter__section:not(:last-child) {
  margin-right: 10px;
}
.filter__section label {
  margin-right: 10px;
}
.filter__section select {
  background-color: #b07292;
  color: #fff;
  font-size: inherit;
  font-style: oblique;
  padding: 0.5em;
  padding-right: 0.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}
.filter__section:hover #section {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: #eaeaea;
  color: #891b55;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filter__section:hover #sort {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: #eaeaea;
  color: #891b55;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filter__section:hover #window {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: #eaeaea;
  color: #891b55;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
