.post {
  padding: 0;
  margin-bottom: 30px;
}
.post__container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  box-shadow: 5px 15px 10px #245b72;
  position: relative;
  border-radius: 8px;
  transition: transform 0.2s;
}
.post__container:active {
  transform: scale(1.1);
}
.post__link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #f8bc05;
  background-color: white;
  border-radius: 8px;
}
/*.post__image-container:after {*/
  /*display: flex;*/
  /*content: "MORE...";*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*background-color: rgba(255, 255, 255, 0.9);*/
  /*color: #656565;*/
  /*font-weight: bold;*/
  /*opacity: 0;*/
  /*transition: opacity 0.5s;*/
/*}*/
.post__image-container:hover:after {
  opacity: 1;
}
.post__image-container:hover .post__image {
  transform: scale(1.1);
}
.post__title {
  padding: 30px 10px 10px 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}
.post__title:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}
.post__image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.post__statistic {
  margin-top: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10px;
  color: #891b55;

}
.post__image {
  display: block;
  width: 100%;
  /*width: 250px;*/
  /*height: auto;*/
  height: 250px;
  transition: transform 0.5s;
  /*overflow: hidden;*/
}
